.background {
  /* background-image: url('../images/gradient-background-wallpaper.jpg'); */
  background-image: url('../images/windows-11-gradient-background-2560x1080.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .main-content {
    min-height: calc(100vh - 140px);
  }

  .home-content {
    min-height: calc(100vh - 140px);
  }
}

@media screen and (max-width: 767px) {
  .main-content {
    margin-bottom: 56px;
  }
}